.sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-style: solid;
}
.mainContainer{
    margin-left: 15vw; /* Same as the width of the sidebar */
    width: 80vw;
    padding: 0px 10px;
}