.loginButton{
    background-color:  #6200ea !important;
	color: white !important;
	border-color: #0a00b6 !important;
	font-family: 'SF Pro', sans-serif !important;
	width: 10vw;
	height: 6vh;
}

.h3{
	font-size: 2.5vh;
	color: black;
}

.logoImage {
	width: 100%;
	height: auto;
}